* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body:-webkit-scrollbar {
  display: none;
}
.orderimagebody {
  overflow-x: scroll;
}
.orderimagebody div {
  margin-right: 20px;
  cursor: pointer;
}
.orderimagebody:-webkit-scrollbar {
  display: none;
  width: 0px;
}

@import url("../pages/components/Loader/Loader.css");
